# Build artifacts
/build/
*.exe
*.obj
*.pdb
*.dll
*.lib
*.a

# CMake files
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/build.ninja
/.ninja_log
/.ninja_deps

# VSCode settings
.vscode/